In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('laptopData.csv')

Checking The Null Value

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1261 entries, 0 to 1260
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Row No                      1261 non-null   int64
 1   Brand                       1261 non-null   object
 2   Laptop Type                 1261 non-null   object
 3   Inches                      1261 non-null   object
 4   Ram                         1261 non-null   object
 5   Memory                      1261 non-null   object
 6   Operating System            1261 non-null   object
 7   Weight(In Grams)            1261 non-null   float64
 8   Price                       1261 non-null   float64
 9   Touch Screen                1261 non-null   object
 10  IPS                         1261 non-null   object
 11  Retina                      1261 non-null   object
 12  Width                       1261 non-null   float64
 13  Height                      1261 non-null   float64
 14  Maximum Display Resolution  1261 non-null   object
 15  Menory                      1260 non-null   object
 16  Primary Storage             1261 non-null   object
 17  Secondary Storage           1261 non-null   object
 18  Primary Storage Type        1261 non-null   object
 19  Secondary Storage Type      1261 non-null   object
 20  Clock Speed                 1261 non-null   object
 21  Processor Brand             1261 non-null   object
 22  Processor Model             1261 non-null   object
 23  GPU Brand                   1261 non-null   object
 24  GPU Model                   1261 non-null   object
dtypes: float64(4), int64(1), object(20)
memory usage: 246.4+ KB

In [4]:
df.iloc[20]

Unnamed: 0          NaN
Company             NaN
TypeName            NaN
Inches              NaN
ScreenResolution    NaN
Cpu                 NaN
Ram                 NaN
Memory              NaN
Gpu                 NaN
OpSys               NaN
Weight              NaN
Price               NaN
Name: 20, dtype: object

Removing The Null Value

In [5]:
df=df.dropna()

In [6]:
df.iloc[20]

Unnamed: 0                                 21.0
Company                                  Lenovo
TypeName                                 Gaming
Inches                                     15.6
ScreenResolution    IPS Panel Full HD 1920x1080
Cpu                 Intel Core i5 7300HQ 2.5GHz
Ram                                         8GB
Memory                     128GB SSD +  1TB HDD
Gpu                     Nvidia GeForce GTX 1050
OpSys                                Windows 10
Weight                                    2.5kg
Price                                  53226.72
Name: 21, dtype: object

In [7]:
df= df.reset_index(drop=True)

In [9]:
df['Unnamed: 0']=range(1,len(df)+1)

Rounding The Float

In [10]:
df['Price'] =df['Price'].round(0)

In [103]:
df.iloc[1]

Row No                                          2
Brand                                       Apple
Laptop Type                             Ultrabook
Inches                                       13.3
Ram                                           8GB
Memory                        128GB Flash Storage
Operating System                            macOS
Weight(In Grams)                           1300.0
Price                                     47896.0
Touch Screen                                   No
IPS                                            No
Retina                                         No
Width                                      1440.0
Height                                      900.0
Maximum Display Resolution               HD / HD+
Menory                        128GB Flash Storage
Primary Storage               128GB Flash Storage
Secondary Storage                   Not Available
Primary Storage Type                        Flash
Secondary Storage Type              Not Available
Clock Speed                                1.8GHz
Processor Brand                             Intel
Processor Model                           Core i5
GPU Brand                                   Intel
GPU Model                        HD Graphics 6000
Name: 1, dtype: object

CHanging The units(Kg)  into spaces

In [12]:
df['Weight']=df['Weight'].str.replace('kg','')

In [13]:
df.iloc[0]

Unnamed: 0                                           1
Company                                          Apple
TypeName                                     Ultrabook
Inches                                            13.3
ScreenResolution    IPS Panel Retina Display 2560x1600
Cpu                               Intel Core i5 2.3GHz
Ram                                                8GB
Memory                                       128GB SSD
Gpu                       Intel Iris Plus Graphics 640
OpSys                                            macOS
Weight                                            1.37
Price                                          71379.0
Name: 0, dtype: object

Finding Outliers

In [14]:
print(df['Weight'].unique())

['1.37' '1.34' '1.86' '1.83' '2.1' '2.04' '1.3' '1.6' '2.2' '0.92' '1.22'
 '2.5' '1.62' '1.91' '2.3' '1.35' '1.88' '1.89' '1.65' '2.71' '1.2' '1.44'
 '2.8' '2' '2.65' '2.77' '3.2' '1.49' '2.4' '2.13' '2.43' '1.7' '1.4'
 '1.8' '1.9' '3' '1.252' '2.7' '2.02' '1.63' '1.96' '1.21' '2.45' '1.25'
 '1.5' '2.62' '1.38' '1.58' '1.85' '1.23' '2.16' '2.36' '7.2' '2.05'
 '1.32' '1.75' '0.97' '2.56' '1.48' '1.74' '1.1' '1.56' '2.03' '1.05'
 '5.4' '4.4' '1.90' '1.29' '2.0' '1.95' '2.06' '1.12' '3.49' '3.35' '2.23'
 '?' '2.9' '4.42' '2.69' '2.37' '4.7' '3.6' '2.08' '4.3' '1.68' '1.41'
 '4.14' '2.18' '2.24' '2.67' '4.1' '2.14' '1.36' '2.25' '2.15' '2.19'
 '2.54' '3.42' '5.8' '1.28' '2.33' '1.45' '2.79' '8.23' '1.26' '1.84'
 '0.0002' '2.6' '2.26' '3.25' '1.59' '1.13' '1.42' '1.78' '1.10' '1.15'
 '1.27' '1.43' '2.31' '1.16' '1.64' '2.17' '1.47' '3.78' '1.79' '0.91'
 '1.99' '4.33' '1.93' '1.87' '2.63' '3.4' '3.14' '1.94' '1.24' '4.6' '4.5'
 '8.4' '2.73' '1.39' '2.29' '2.59' '2.94' '11.1' '1.14' '3.8' '6.2' '3.31'
 '1.09' '3.21' '1.19' '1.98' '1.17' '4.36' '1.71' '2.32' '4.2' '1.55'
 '0.81' '1.18' '2.72' '1.31' '0.920' '3.74' '1.76' '1.54' '2.83' '2.07'
 '2.38' '3.58' '1.08' '2.20' '0.98' '2.75' '1.70' '2.99' '1.11' '2.09' '4'
 '3.0' '0.99' '0.69' '3.52' '2.591' '2.21' '3.3' '2.191' '2.34' '4.0']

In [16]:
df['Weight'] = pd.to_numeric(df['Weight'], errors='coerce')

In [17]:
df=df.dropna(subset=['Weight'])

In [18]:
df['Weight']=df['Weight'].astype(float)

In [19]:
df['Weight']=df['Weight'].round(1)

In [20]:
df.iloc[338]

Unnamed: 0                                 340
Company                                   Dell
TypeName                             Ultrabook
Inches                                    15.6
ScreenResolution             Full HD 1920x1080
Cpu                 Intel Core i5 8250U 1.6GHz
Ram                                        8GB
Memory                                 1TB HDD
Gpu                             AMD Radeon 530
OpSys                               Windows 10
Weight                                     0.0
Price                                  35325.0
Name: 339, dtype: object

In [21]:
df['Weight'].unique()

array([ 1.4,  1.3,  1.9,  1.8,  2.1,  2. ,  1.6,  2.2,  0.9,  1.2,  2.5,
        2.3,  2.7,  2.8,  2.6,  3.2,  1.5,  2.4,  1.7,  3. ,  7.2,  1. ,
        1.1,  5.4,  4.4,  3.5,  3.4,  2.9,  4.7,  3.6,  4.3,  4.1,  5.8,
        8.2,  0. ,  3.8,  3.1,  4.6,  4.5,  8.4, 11.1,  6.2,  3.3,  4.2,
        0.8,  3.7,  4. ,  0.7])

Converting Kg into Grams

In [22]:
df['Weight'] =df['Weight']*1000

In [23]:
df['Weight'].unique()

array([ 1400.,  1300.,  1900.,  1800.,  2100.,  2000.,  1600.,  2200.,
         900.,  1200.,  2500.,  2300.,  2700.,  2800.,  2600.,  3200.,
        1500.,  2400.,  1700.,  3000.,  7200.,  1000.,  1100.,  5400.,
        4400.,  3500.,  3400.,  2900.,  4700.,  3600.,  4300.,  4100.,
        5800.,  8200.,     0.,  3800.,  3100.,  4600.,  4500.,  8400.,
       11100.,  6200.,  3300.,  4200.,   800.,  3700.,  4000.,   700.])

In [24]:
df =df[df['Weight'] !=0]

In [25]:
df['Unnamed: 0']=range(1,len(df)+1)

In [26]:
print(df.shape)

(1271, 12)

Renaming the Column

In [27]:
df.rename(columns={'Weight':'Weight(In Grams)'},inplace=True)

In [28]:
df.iloc[1260]

Unnamed: 0                                          1261
Company                                             Dell
TypeName                                        Notebook
Inches                                              15.6
ScreenResolution                                1366x768
Cpu                 Intel Celeron Dual Core N3050 1.6GHz
Ram                                                  2GB
Memory                                         500GB HDD
Gpu                                    Intel HD Graphics
OpSys                                         Windows 10
Weight(In Grams)                                  2200.0
Price                                            20193.0
Name: 1262, dtype: object

In [29]:
df = df.reset_index(drop=True)

In [30]:
print(df['Inches'].unique())

['13.3' '15.6' '15.4' '14' '12' '17.3' '13.5' '12.5' '13' '18.4' '13.9'
 '11.6' '25.6' '35.6' '12.3' '27.3' '24' '33.5' '?' '31.6' '17' '15'
 '14.1' '11.3' '10.1']

Removing the outliers

In [31]:
df = df[pd.to_numeric(df['Inches'], errors='coerce').between(10,20)]

In [32]:
print(df.duplicated().sum())

0

In [33]:
print(df['TypeName'].unique())

['Ultrabook' 'Notebook' 'Gaming' '2 in 1 Convertible' 'Workstation'
 'Netbook']

In [34]:
print(df['OpSys'].unique())

['macOS' 'No OS' 'Windows 10' 'Mac OS X' 'Linux' 'Windows 10 S'
 'Chrome OS' 'Windows 7' 'Android']

In [35]:
df.rename(columns={'OpSys':'Operating System'},inplace=True)

In [36]:
print(df['Company'].unique())

['Apple' 'HP' 'Acer' 'Asus' 'Dell' 'Lenovo' 'Chuwi' 'MSI' 'Microsoft'
 'Toshiba' 'Huawei' 'Xiaomi' 'Vero' 'Razer' 'Mediacom' 'Samsung' 'Google'
 'Fujitsu' 'LG']

In [37]:
df.rename(columns={'Company':'Brand'},inplace=True)

In [38]:
df.rename(columns={'TypeName':'Laptop Type'},inplace=True)

In [100]:
df.rename(columns={'Unnamed: 0':'Row No'},inplace=True)

In [42]:
df['Touch Screen'] = df['ScreenResolution'].str.contains('Touchscreen',na =False).map({True:'Yes',False:'No'})

In [43]:
df['IPS'] = df['ScreenResolution'].str.contains('IPS',na=False).map({True:'Yes',False:'No'})

In [44]:
df['Retina'] = df['ScreenResolution'].str.contains('Retina',na=False).map({True:'Yes',False:'No'})

Extracting Width , Height from Column

In [45]:
df[['Width','Height']] = df['ScreenResolution'].str.extract(r'(\d+)x(\d+)').astype(float)

In [47]:
res_map = {
    (1366.0, 768.0): 'HD / HD+',
    (1440.0, 900.0): 'HD / HD+',
    (1600.0, 900.0): 'HD / HD+',
    (1920.0, 1080.0): 'Full HD (FHD)',
    (1920.0, 1200.0): 'Full HD (FHD)',
    (2560.0, 1440.0): 'Quad HD (QHD)',
    (2256.0, 1504.0): 'Quad HD+ (QHD+)',
    (2304.0, 1440.0): 'Quad HD+ (QHD+)',
    (2560.0, 1600.0): 'Quad HD+ (QHD+)',
    (2736.0, 1824.0): 'Quad HD+ (QHD+)',
    (2880.0, 1800.0): 'Quad HD+ (QHD+)',
    (3200.0, 1800.0): 'Quad HD+ (QHD+)',
    (2400.0, 1600.0): 'Quad HD+ (QHD+)',
    (3840.0, 2160.0): '4K Ultra HD (UHD)'
}

In [48]:
df['Maximum Display Resolution'] = pd.Series(list(zip(df['Width'], df['Height'],))).map(res_map)

In [49]:
df['Maximum Display Resolution'] =df['Maximum Display Resolution'].fillna('Not Available')

In [50]:
print(df['Maximum Display Resolution'].unique())

['Quad HD+ (QHD+)' 'HD / HD+' 'Full HD (FHD)' '4K Ultra HD (UHD)'
 'Not Available' 'Quad HD (QHD)']

In [53]:
df.drop(columns=['ScreenResolution'],inplace=True)

In [56]:
df['Memory'] = df['Memory'].str.replace('?','')

In [57]:
df['Memory'] = df['Memory'].replace('',np.nan)

In [58]:
df['Menory'] = df['Memory'].dropna()

In [59]:
df['Memory'] =df['Memory'].astype(str)

In [60]:
Temp = df['Memory'].str.split('+',n=1,expand=True)

In [61]:
df['Primary Storage'] = Temp[0].str.strip()

In [62]:
df['Secondary Storage'] = Temp[1].str.strip().fillna('Not Available')

In [63]:
df['Secondary Storage'].iloc[2]

'Not Available'

In [64]:
storage_type='SSD|HDD|Flash|Storage|Hybrid'

In [65]:
df['Primary Storage Type'] = df['Primary Storage'].str.extract(f'({storage_type})').fillna('Not Available')

In [66]:
df['Secondary Storage Type'] = df['Secondary Storage'].str.extract(f'({storage_type})').fillna('Not Available')

In [67]:
df['Clock Speed'] =df['Cpu'].str.extract(r'(\d+(?:\.\d+)?GHz)').fillna('Not Available')

In [68]:
print(df['Cpu'].nunique())

116

In [69]:
df['Processor Brand'] =df['Cpu'].str.split().str[0]

In [70]:
df['Processor Model'] =df['Cpu'].str.split().str[1:-1].str.join(' ')

In [71]:
df['Processor Model'].nunique()

91

In [72]:
df.drop(columns=['Cpu'],inplace=True)

In [77]:
df['GPU Brand'] =df['Gpu'].str.split().str[0]

In [94]:
df['Gpu'].nunique()

110

In [87]:
df['GPU Model'] =df['Gpu'].str.split().str[1:].str.join(' ')

In [93]:
df['GPU Model'].nunique()

106

In [96]:
df.drop(columns=['Gpu'],inplace=True)

In [97]:
df= df.reset_index(drop=True)

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1261 entries, 0 to 1260
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1261 non-null   int64
 1   Brand                       1261 non-null   object
 2   Laptop Type                 1261 non-null   object
 3   Inches                      1261 non-null   object
 4   Ram                         1261 non-null   object
 5   Memory                      1261 non-null   object
 6   Operating System            1261 non-null   object
 7   Weight(In Grams)            1261 non-null   float64
 8   Price                       1261 non-null   float64
 9   Touch Screen                1261 non-null   object
 10  IPS                         1261 non-null   object
 11  Retina                      1261 non-null   object
 12  Width                       1261 non-null   float64
 13  Height                      1261 non-null   float64
 14  Maximum Display Resolution  1261 non-null   object
 15  Menory                      1260 non-null   object
 16  Primary Storage             1261 non-null   object
 17  Secondary Storage           1261 non-null   object
 18  Primary Storage Type        1261 non-null   object
 19  Secondary Storage Type      1261 non-null   object
 20  Clock Speed                 1261 non-null   object
 21  Processor Brand             1261 non-null   object
 22  Processor Model             1261 non-null   object
 23  GPU Brand                   1261 non-null   object
 24  GPU Model                   1261 non-null   object
dtypes: float64(4), int64(1), object(20)
memory usage: 246.4+ KB

In [99]:
df.head()

,Unnamed: 0,Brand,Laptop Type,Inches,Ram,Memory,Operating System,Weight(In Grams),Price,Touch Screen,...,Menory,Primary Storage,Secondary Storage,Primary Storage Type,Secondary Storage Type,Clock Speed,Processor Brand,Processor Model,GPU Brand,GPU Model
0,1,Apple,Ultrabook,13.3,8GB,128GB SSD,macOS,1400.0,71379.0,No,...,128GB SSD,128GB SSD,Not Available,SSD,Not Available,2.3GHz,Intel,Core i5,Intel,Iris Plus Graphics 640
1,2,Apple,Ultrabook,13.3,8GB,128GB Flash Storage,macOS,1300.0,47896.0,No,...,128GB Flash Storage,128GB Flash Storage,Not Available,Flash,Not Available,1.8GHz,Intel,Core i5,Intel,HD Graphics 6000
2,3,HP,Notebook,15.6,8GB,256GB SSD,No OS,1900.0,30636.0,No,...,256GB SSD,256GB SSD,Not Available,SSD,Not Available,2.5GHz,Intel,Core i5 7200U,Intel,HD Graphics 620
3,4,Apple,Ultrabook,15.4,16GB,512GB SSD,macOS,1800.0,135195.0,No,...,512GB SSD,512GB SSD,Not Available,SSD,Not Available,2.7GHz,Intel,Core i7,AMD,Radeon Pro 455
4,5,Apple,Ultrabook,13.3,8GB,256GB SSD,macOS,1400.0,96096.0,No,...,256GB SSD,256GB SSD,Not Available,SSD,Not Available,3.1GHz,Intel,Core i5,Intel,Iris Plus Graphics 650